.sixth-section {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sixth-section header {
    grid-area: header;
}

.sixth-section header h1{
    font-size: 30px;
    margin-bottom: 50px;
}

.sixth-section a {
    display: grid;
    box-sizing: border-box;
    width: 80%;
    max-width: 382px;
    height: 113.5px;
    padding: 24px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 4px;
    text-decoration: none;
    position: relative;
    transition: .1s ease-in-out;
    margin-bottom: 25px;
}

.sixth-section a:hover {
    box-shadow: 0px 0px 30px 2px rgb(223, 223, 223);
}

.sixth-section a h3 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sixth-section a span {
    box-sizing: border-box;
    width: 100%;
    height: 113.5px;
    font-size: 35px;
    font-family: sans-serif;
    color: black;

    text-align: right;
    position: absolute;
    padding: 25px 20px 25px 0px;
    transition: .1s ease-in-out;
}

.sixth-section a span:hover {
    padding-right: 15px;
}

.sixth-section a h2 { 
    color: black;
    font-size: 21px;
}

.sixth-section .innovation-labs {
    grid-area: innovation;
}
.sixth-section .business-unusual {
    grid-area: business;
}
.sixth-section .experts-voice {
    grid-area: experts;
}
.sixth-section .agile-mindset {
    grid-area: agile;
}
.sixth-section .tech-insider {
    grid-area: tech;
}
.sixth-section .abstract {
    grid-area: abstract;
}
.sixth-section .secret-sauce {
    grid-area: secret;
}
.sixth-section .our-backyard {
    grid-area: backyard;
}

.sixth-section .innovation-labs h3{ 
    color: #bc9c5f;
}
.sixth-section .innovation-labs span:hover{ 
    color: #bc9c5f;
}

.sixth-section .business-unusual h3{ 
    color: #fac303;
}
.sixth-section .business-unusual span:hover{ 
    color: #fac303;
}

.sixth-section .experts-voice h3{ 
    color: #4cc9f0;;
}
.sixth-section .experts-voice span:hover{ 
    color: #4cc9f0;;
}

.sixth-section .agile-mindset h3{ 
    color: #3f89ff;
}
.sixth-section .agile-mindset span:hover{ 
    color: #3f89ff;
}

.sixth-section .tech-insider h3{ 
    color: #f48e41;
}
.sixth-section .tech-insider span:hover{ 
    color: #f48e41;
}

.sixth-section .abstract h3{ 
    color: #ff4d6d;
}
.sixth-section .abstract span:hover{ 
    color: #ff4d6d;
}

.sixth-section .secret-sauce h3{ 
    color: #7b008f;
}
.sixth-section .secret-sauce span:hover{ 
    color: #7b008f;
}

.sixth-section .our-backyard h3{ 
    color: #b17df9;
}
.sixth-section .our-backyard span:hover{ 
    color: #b17df9;
}


@media screen and (min-width: 768px) {

    .sixth-section {
        width: 680px;
        display: grid;
        grid-template-areas:
        "header header"
        "innovation business"
        "experts agile"
        "tech abstract"
        "secret backyard";
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }

    .sixth-section header {
        width: 100%;
        text-align: center;
    }

    .sixth-section a {
        box-sizing: border-box;
        width: 328px;
    }

}

@media screen and (min-width: 1024px) {

    .sixth-section {
    width: 920px;
    display: grid;
    grid-template-areas:
    "header header header"
    "innovation business experts"
    "agile tech abstract"
    "secret backyard backyard";
    }

    .sixth-section a {
        width: 288px;
    }

}

@media screen and (min-width: 1366px) {

    .sixth-section {
    width: 1200px;
    display: grid;
    grid-template-areas:
    "header header header header"
    "innovation business experts agile"
    "tech abstract secret backyard";
    }

    .sixth-section a {
        width: 280px;
    }

}