
.third-section {
    margin-top: 8.5rem;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

.third-section header {
    margin-bottom: 4rem;
    line-height: 40px;
}

.third-section header p {
    position: absolute;
    font-size: 80px;
    font-weight: bolder;
    font-family: Arial;
    color: rgb(143, 143, 143);
    opacity: 0.1;
}

.third-section .third-section-article {
    width: 100%;
    height: 100%;
}

.third-section .third-section-article .third-section-photo {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: scaleX(1.09);
    transform: scaleY(0.85);
    border-radius: 8px;
    margin-top: 35px;
}

.third-section .third-section-article .third-section-photo img {
    width: 100%;
    height: 100%;
    text-align:center;  
    vertical-align:top;
    transition: all .2s ease-in-out;
}

.third-section .third-section-article .third-section-photo img:hover {
    transform: scale(1.1)
}

.third-section-article .agile-mindset{
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color:#878787;
}
.third-section-article .agile-mindset:hover {
    color: #3f89ff;
}

.third-section-article .title {
    display: block;
    font-family: arial;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-top: 15px;
    line-height: 30px;
}

.third-section-article .title:hover{
    color: #00d563;
    transition: .2s ease-in-out;
}

.third-section-article .author {
    height: 55px;
    display: grid;
    grid-template-areas:
    "photo name name"
    "photo time time";
    justify-content: start;
    font-weight: bold;
    align-content: center;
}

.author{
    padding-bottom: 0px;
    margin-bottom: 100px;
}

.author img {
    grid-area: photo;
    margin-right: 15px;
    width: 55px;
    height: 45px;
    margin-bottom: 12px;
}

.author .author-name {
    grid-area: name;
    display: block;
    height: 20px;
    margin-top:3px;
    border-bottom: 1px solid #00d563;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.author .author-name:hover {
    border-bottom: 3px solid #00d563;
    margin-top: -0.5px;
}

.author .author-time {
    grid-area: time;
    color: gray;
    font-weight: lighter;
    font-size: 13px;
    align-self: flex-end;
    margin-bottom: 10px;
}

@media screen and (min-width: 590px) { 
    
    .third-section {
        justify-items: center;
        width: 531px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) { 
    
    .third-section {
        width: 590px;
    }
}

@media screen and (min-width: 1024px) {

    .third-section {
        width: 920px;
        margin-right: auto;
        margin-left: auto;
        display: grid;
        grid-gap: 20px;
        justify-content: space-around;
        grid-template-areas: 
        "header header";
    }

    .third-section header {
        grid-area: header;
        width: 920px;
        margin-bottom: 1vh;
    }

    .third-section header .header-main{
        width: 450px;
    }

    .third-section .third-section-article .third-section-photo{
        box-sizing: border-box;
        width: 450px;
        height: 300px;
    } 


} 


@media screen and (min-width: 1366px) {

    .third-section{
    width: 1250px;
    grid-template-areas: 
    "header header header";
    grid-gap: 5px;
}

    .third-section header{
        width: 1250px;
    }

    .third-section header .header-main{
        width: 450px;
    }

    .third-section .third-section-article {
        width: 384px;
    }

    .third-section .third-section-article .third-section-photo {
        width: 384px;
        height: 240px;
      }
}